<p>This is a Demo of CSS at work!!</p>
    <h1 id="blue">Make me Blue!!</h1>
    <h1 class="purple">Make Me Purple!!</h1>
    <h1 id="blue" class="alignLeft">Make Me Blue on the Left!!</h1>
    <h1 class="purple alignRight">Make Me Purple on the Right!!</h1>
    <h1 class="white blackBackground alignCenter">Make Me White on Black!!</h1>
    <p><a href="index.html">Return to home page</a></p>
#blue {color: blue;}

.purple {color: purple;}

.white{color: white;}

.blackBackground {background-color: black;}

.alignLeft{text-align: left;}

.alignCenter{text-align: center;}

.alignRight{text-align: right;}